In [2]:
import pandas as pd
from functools import reduce

In [3]:
df = pd.read_csv('D:\Geek_Brains\Big Data\Семинар 02\HW\AB_NYC_2019.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Нам нужно отработать алгоритм MapReduce, подходящий для работы с большими объемами данных. Несмотря на то, что наш датасет относительно небольшой и его можно загрузить целиком в оперативную память, мы демонстрируем этот подход, загружая данные по частям (чанкам) по 10 000 строк. Это позволяет эффективно обрабатывать даже большие датасеты, которые не умещаются в памяти целиком.

Mapper:

Для каждого чанка данных функция Mapper вычисляет три ключевых значения: сумму цен всех наблюдений в чанке, количество этих наблюдений, а также сумму квадратов цен.
Эти вычисленные значения служат основой для последующего расчета глобального среднего значения и дисперсии.

In [5]:
# Mapper function
def mapper(chunk):
    # Вычисляем сумму, количество и сумму квадратов цен в каждом чанке
    sum_prices = chunk['price'].sum()
    count = chunk['price'].count()
    sum_of_squares = (chunk['price'] ** 2).sum()
    return sum_prices, count, sum_of_squares

Reducer:

Функция Reducer принимает результаты, полученные от всех чанков данных, и объединяет их для вычисления общего среднего значения и дисперсии цен по всему датасету.

Этот метод демонстрирует, как можно эффективно обрабатывать большие объемы данных, разбивая их на меньшие части и последовательно обрабатывая каждую из них, что особенно полезно при ограниченных ресурсах памяти.

In [6]:
def reducer(accumulator, element):
    sum_prices_acc, count_acc, sum_of_squares_acc = accumulator
    sum_prices_elem, count_elem, sum_of_squares_elem = element

    # Суммируем результаты
    total_sum_prices = sum_prices_acc + sum_prices_elem
    total_count = count_acc + count_elem
    total_sum_of_squares = sum_of_squares_acc + sum_of_squares_elem

    return total_sum_prices, total_count, total_sum_of_squares

In [7]:
file_path = 'D:\Geek_Brains\Big Data\Семинар 02\HW\AB_NYC_2019.csv'

In [8]:
# Создание итератора для чанков данных
chunk_iter = pd.read_csv(file_path, chunksize=10000)

# Применение функции map
mapped_values = map(mapper, chunk_iter)

# Применение функции reduce
total_sum, total_count, total_sum_of_squares = reduce(reducer, mapped_values)

# Расчет среднего значения и дисперсии
mean = total_sum / total_count
variance = (total_sum_of_squares / (total_count-1)) - mean ** 2
standard_deviation = variance ** 0.5
mean, variance, standard_deviation

(152.7206871868289, 57674.50227089633, 240.15516290701794)

Поскольку размер файла небольшой, то полученные результаты можно проверить с помощью встроенных функций.

In [9]:
# Вычисление среднего значения по столбцу price
print(f'Вычисление среднего значения по встроенной формуле: \n{df["price"].mean()}')
print(f'Вычисление среднего значения вручную: \n{mean}')
print()
# Вычисление дисперсии по столбцу price
print(f'Вычисление дисперсии по встроенной формуле: \n{df["price"].var()}')
print(f'Вычисление дисперсии вручную: \n{variance}')

Вычисление среднего значения по встроенной формуле:
152.7206871868289
Вычисление среднего значения вручную:
152.7206871868289

Вычисление дисперсии по встроенной формуле:
57674.02524696099
Вычисление дисперсии вручную:
57674.50227089633

Если для среднего значения результаты совпали до знака, то дисперсии различаются. Поскольку дисперсия вычислялась применительно к выборки, то, на всякий случай, сравним результаты вычислений дисперсии для генеральной совокупности.

In [10]:
variance_population = (total_sum_of_squares / (total_count)) - mean ** 2
print(f'Вычисление дисп.г вручную: \n{variance_population}')
print(f'Вычисление дисп.г по встроенной формуле: \n{df["price"].var(ddof=0)}')

Вычисление дисп.г вручную:
57672.8456984336
Вычисление дисп.г по встроенной формуле:
57672.84569843359

Точность вычислений совпала до девятого знака после запятой. Поэтому я считаю, что разница в результатах дисперсии для выборки обуславливается классом float. Так как для хранения таких чисел используется особый формат представления числа: мантисса и порядок, что приводит к погрешностям во время вычислений.

In [13]:
print(f'Тип данных для дисп.г {type(variance_population)}')
print(f'Тип данных для дисп.в {type(variance)}')

Тип данных для дисп.г <class 'numpy.float64'>
Тип данных для дисп.в <class 'numpy.float64'>

Для точных вычислений следует применять модуль decimal, как на примере ниже.

In [14]:
from decimal import Decimal
print(0.1 + 0.2)
print(Decimal('0.1') + Decimal('0.2'))

0.30000000000000004
0.3

Хотя, насколько я помню из лекций, модуль decimal в основном применяется при написании кода для банковских систем, и для нашего примера такая точность не нужнна.